<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-icon class="pesquisa" name="search-outline"></ion-icon>
    <ion-icon name="basket-outline" slot="end" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  
    <ion-slides class="thumb"  [options]="slideOpts" #slide (ionSlideDidChange)="SlideDidChange(slider,slide)">
      <ion-slide *ngFor="let slider of slider.slidesItems">
        <img src="{{slider.url}}">
      </ion-slide>
    </ion-slides>


    <!-- <ion-slides class="icons" [options]="slideOptsIcons" #slide (ionSlideDidChange)="SlideDidChange(slider,slide)">
      <ion-slide *ngFor="let sliderIcon of sliderIcons.slidesItems">
        <img src="{{slider.url}}">
      </ion-slide>
    </ion-slides> -->
    
  

  <ion-card class="ion-padding lojasPromocao">
    <div class="background">
      <div class="ion-text-center texto"> Lojas em Promoção </div>
      <ion-card-subtitle class="sub ion-text-center">Lojas que amamos em promoção nesse lindo final de semana.</ion-card-subtitle>
    <ion-card-content>
      <ion-slides class="opacity-transition" [options]="slidesOptions">
        <ion-slide *ngFor="let card of cards">
          <div class="container ion-text-left">
          <img src="{{card.url}}">
        </div>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
      </div>
    </ion-card>   

    <ion-card class="ion-padding novosProdutos">
      <div class="background">
        <div class="ion-text-center texto"> Novos Produtos </div>
        <ion-card-subtitle class="sub ion-text-center">ha ver os novos produtos adicionados em nosso aplicativo.</ion-card-subtitle>
      <ion-card-content>
        <ion-slides class="opacity-transition" [options]="slidesOptions">
          <ion-slide *ngFor="let newProdutos of newProdutos">
            <div class="container ion-text-left">
            <img src="{{newProdutos.url}}">
          </div>
          </ion-slide>
        </ion-slides>
      </ion-card-content>
        </div>
      </ion-card>



      <ion-card class="ion-padding entrega">
        <div class="background">
          <div class="ion-text-center texto"> Entrega Gratuita </div>
          <ion-card-subtitle class="sub ion-text-center">Receba no conforto da sua casa sem gastar um centavo.</ion-card-subtitle>
        <ion-card-content>
          <ion-slides class="opacity-transition" [options]="slidesOptions">
            <ion-slide *ngFor="let entregaGratis of entregaGratis">
              <div class="container ion-text-left">
              <img src="{{entregaGratis.url}}">
            </div>
            </ion-slide>
          </ion-slides>
        </ion-card-content>
          </div>
        </ion-card>


        <ion-card class="ion-padding abertas">
          <div class="background">
            <div class="ion-text-center texto"> Lojas Abertas </div>
            <ion-card-subtitle class="sub ion-text-center">Lojas que podem te atender nesse momento.</ion-card-subtitle>
          <ion-card-content>
            <ion-slides class="opacity-transition" [options]="slidesOptions">
              <ion-slide *ngFor="let lojasAbertas of lojasAbertas">
                <div class="container ion-text-left">
                <img src="{{lojasAbertas.url}}">
              </div>
              </ion-slide>
            </ion-slides>
          </ion-card-content>
            </div>
          </ion-card>


          <ion-card class="ion-padding curtidas">
            <div class="background">
              <div class="ion-text-center texto"> As Lojas mais curtidas </div>
              <ion-card-subtitle class="sub ion-text-center">As mais recomendadas pelos nossos clientes.</ion-card-subtitle>
            
            <ion-card-content>
              <ion-slides class="opacity-transition" [options]="slidesOptions">
                <ion-slide *ngFor="let maisCurtidas of maisCurtidas">
                  <div class="container ion-text-left">
                  <img src="{{maisCurtidas.url}}">
                </div>
                </ion-slide>
              </ion-slides>
            </ion-card-content>
              </div>
            </ion-card>

      <ion-footer class="ion-no-border">
        <ion-toolbar class="baixo ion-no-margin ion-padding-vertical" color="medium">
          <div class="footer ion-text-center">
          <span class="ion-text-left"> Entre em contato conosco pelas redes sociais.</span>
          </div>
        </ion-toolbar>
      </ion-footer>

</ion-content>